### Client-side gitignore file for VolunSphere ###

# Node modules
/node_modules

#Build output
/dist
/Build

# Environment variables
/.env

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# IDE and Editor settings
/.vscode/
/.idea/

#System files
.DS_Store
Thumbs.db

### package.json and package-lock files cannot be gitignored ###